.back-to-home {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background: radial-gradient(circle, rgba(10, 10, 30, 0.9), rgba(20, 20, 50, 0.8));
    border: 2px solid rgba(100, 100, 200, 0.8);
    border-radius: 50px;
    padding: 10px 20px;
    text-align: center;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    z-index: 99;
}

#backToHome {
    margin-left: 10%;
}

#backToProjects {
    margin-left: 10%;
}

.back-to-home a {
    text-decoration: none;
    color: rgba(180, 180, 255, 0.9);
    font-family: 'Syncopate', sans-serif;
    font-size: 1.5rem;
    letter-spacing: 2px;
    font-weight: bold;
    transition: color 0.3s ease;
}

.back-to-home:hover {
    transform: translateX(-50%) scale(1.1);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.8), 0 0 15px rgba(100, 100, 255, 0.6);
}


.back-to-home:hover a {
    text-decoration: none;
    color: rgba(220, 220, 255, 1);
}


@media (max-width: 450px) {

    .back-to-home {
        padding: 5px 10px;
        transform: scale(0.4);
        width: 260px;
    }

    #backToProjects {
        width: 350px;
        margin: 0 30%;
        z-index: 99;
    }

    #backToHome {
        margin-left: 0;
        left: 0;
    }


    .back-to-home:hover {
        transform: scale(0.6);
    }
}