  * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: "Titillium Web", serif;
      font-weight: 100;
  }

  body {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      background: linear-gradient(135deg, #523d0f, #3a6065);
  }

  .content-box {
      padding: 4%;
      display: flex;
      flex-direction: column;
      width: 30%;
      background: rgba(255, 255, 255, 0.1);
      backdrop-filter: blur(10px);
      border-radius: 15px;
      display: flex;
      justify-content: center;
      align-items: center;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
      text-align: center;
      color: white;
      font-size: 24px;
      font-weight: bold;
  }


  h1 {
      margin-bottom: 7%;
  }


  p {
      margin-bottom: 7%;
  }




  .options {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 10px;
      margin-bottom: 7%;
  }

  .options>div {
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
  }

  input[type="checkbox"] {
      margin-right: 10%;
  }



  #finalPassword {
      width: 100%;
      font-size: 24px;
      text-align: center;
  }


  #generateButton {
      width: 70%;
      height: 40px;
      padding: 5px;
      border-radius: 10px;
      border: none;
      background-color: #284346;
      color: white;
      cursor: pointer;
      font-size: 22px;
      font-weight: 500;
      margin-bottom: 10%;
  }



  @media screen and (max-width: 480px) {
      .content-box {
          width: 100%;
          padding: 1%;
          font-size: 18px;
          border-radius: 0;
      }

      h1 {
          font-size: 22px;
      }

      p {
          font-size: 16px;
      }


      .options>div {
          justify-content: flex-start;
      }

      input[type="checkbox"] {
          margin-right: 5%;
      }

      #generateButton {
          width: 100%;
          font-size: 20px;
      }
  }